div.Home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    justify-content: center;

    font-size: 35px;
}

div.Home>* {
    margin-bottom: 1vh;
}

button.Home-start {
    padding: 20px;
    font-size: 70px;
}

select.Home-start-type {
    font-size: inherit;
}