div.Select {
    width: 100%;
    height: 100%;

    font-size: 30px;

    display: grid;
    align-items: flex-start;
}

@media only screen and (max-width: 600px) {
    div.Select {
        grid-template-rows: min-content 1fr;
        grid-template-areas: "template" "options";
    }
}

@media only screen and (min-width: 600px) {
    div.Select {
        grid-template-columns: min-content 1fr;
        grid-template-areas: "options template";
    }
}

div.Select input,
div.Select select,
div.Select button {
    font-size: inherit;
}

div.Select>div {
    margin-bottom: 10px;
}


/* Templates */
div.Select-templates {
    grid-area: template;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

div.SessionTemplate {
    display: inline-block;
    margin-bottom: 5px;
    border: 5px solid black;
    background-color: #73e987;
    padding: 5px;
    max-width: 100vw;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
}

button.SessionTemplate-start {
    grid-column: 1;
    margin-right: 5px;
    padding: 5px;

    font-size: inherit;
}

span.SessionTemplate-name {
    grid-column: 2;
    vertical-align: middle;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

button.SessionTemplate-remove {
    grid-column: 3;

    width: 40px;
    height: 40px;

    border-width: 1px;
    background-color: whitesmoke;

    padding: 0px;
    margin-right: 5px;
}

button.SessionTemplate-remove {
    background-color: whitesmoke;
}


/* Options */
div.Select-options {
    grid-area: options;
    justify-self: center;

    width: min-content;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

div.Select-options>div {
    margin-bottom: 10px;
}

/* Select Range */
div.Select-rangetype {
    display: flex;
    align-items: stretch;
}

div.Select-rangetype>select {
    flex-grow: 1;
}

div.Select-range-range {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.Select-range-range>input {
    max-width: 20vh;
}

div.Select-range-pool {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button.Select-range-pool-button {
    background-color: lightgrey;
}

button.Select-range-pool-button-selected {
    background-color: #2fff52;
}

/* Select (others) */

div.Select-type {
    display: grid;
    grid-template-columns: min-content min-content;
    align-items: center;
}

div.Select-type>span {
    margin-right: 5px;
}

div.Select-submit {
    display: grid;
    grid-template-rows: min-content min-content;
    text-align: center;
}

div.Select-submit>button {
    padding: 10px;
    margin-bottom: 10px;
}