html, body, div#root {
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
}

div#root {
    font-size: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

span.link {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

span.link:active {
    color: #FF0000;
}

label {
    user-select: none;
}