html, body {
    margin: 0px;
    padding: 0px;
}

span.link {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

span.link:active {
    color: #FF0000;
}

label {
    user-select: none;
}